{% if site.github %}
    <div class="container">
        <footer>
            <div class="rounded-social-buttons">
                <!-- <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a class="social-button twitter" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a class="social-button tiktok" href="https://www.tiktok.com/" target="_blank"><i class="fab fa-tiktok"></i></a> -->
                <a class="social-button bilibili" href="https://space.bilibili.com/523837807" target="_blank"><i class="fab fa-bilibili"></i></a>
                <a class="social-button discord" href="https://discord.com/channels/806044973795246080" target="_blank"><i class="fab fa-discord"></i></a>
                <a class="social-button steam" href="https://steamcommunity.com/id/obscurefreeman/" target="_blank"><i class="fab fa-steam"></i></a>
            </div>
        </footer>
    </div>
{% endif %}
