<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <nav class="ofnavbar">
    <ul>
      <li><a href="https://obscurefreeman.netlify.app/">官网</a></li>
    </ul>
  </nav>
</body>
</html>
