@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body {
    background: linear-gradient(-45deg, #1443a0, #490094);
    background-attachment: fixed;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 880px !important;
}

h1 {
    margin-bottom: 36px;
}

h2 {
    margin-bottom: 24px;
}

table {
    table-layout: fixed !important;
    width: 100% !important;
    border: 1px solid rgb(222, 226, 230) !important;
    margin-bottom: 1rem !important;
    vertical-align: top !important;
}

table thead tr th {
    border: 1px solid rgb(222, 226, 230) !important;
    padding: 0.5rem 0.5rem !important;
}

table tbody tr td {
    border: 1px solid rgb(222, 226, 230) !important;
    padding: 0.5rem 0.5rem !important;
}

table tbody tr td img {
    max-width: 100px !important; /** or 100% **/
}

.swiper-slide {
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding: 40px 60px;
  background: linear-gradient(-45deg, #1443a0, #490094);
  /* background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh; */
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #222
}

/* 社交媒体链接 */

.svg-inline--fa {
    vertical-align: -0.200em;
}

.rounded-social-buttons {
    text-align: center;
}

.rounded-social-buttons .social-button {
    margin-top: 2rem;
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe5a;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    /* border: solid 2px #fefefe5a; */
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    margin-bottom: 0.25rem;
    background-color: #5555551e;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.2);
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-tiktok, .fa-bilibili, .fa-discord, .fa-steam {
    font-size: 25px;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
    color: #ffffff;
    /* border: none; */
    background: #5865F2;
    box-shadow: 0 0 20px #5865F2;            
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
    color: #ffffff;
    /* border: none; */
    background: #5865F2;
    box-shadow: 0 0 20px #5865F2;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
    color: #ffffff;
    /* border: none; */
    background: #5865F2;
    box-shadow: 0 0 20px #5865F2;            
}

.rounded-social-buttons .social-button.tiktok:hover, .rounded-social-buttons .social-button.tiktok:focus {
    color: #ffffff;
    /* border: none; */
    background: #5865F2;
    box-shadow: 0 0 20px #5865F2;             
}

.rounded-social-buttons .social-button.bilibili:hover, .rounded-social-buttons .social-button.bilibili:focus {
    color: #ffffff;
    /* border: none; */
    background: #00A1D6;
    box-shadow: 0 0 20px #00A1D6;               
}

.rounded-social-buttons .social-button.discord:hover, .rounded-social-buttons .social-button.discord:focus {
    color: #ffffff;
    /* border: none; */
    background: #5865F2;
    box-shadow: 0 0 20px #5865F2;
}

.rounded-social-buttons .social-button.steam:hover, .rounded-social-buttons .social-button.steam:focus {
    color: #000000;
    /* border: none; */
    background: #ffffff;
    box-shadow: 0 0 20px #ffffff;
}

.ofnavbar {
  background-color: #3333333e;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow:inset 0 0 2px rgba(255, 255, 255, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.ofnavbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.ofnavbar li {
  margin: 0 10px;
}

.ofnavbar a {
  margin-top: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px;
}

.ofnavbar a:hover {
  color: #fff;
  background-color: #333;
  border-radius: 5px;
}

$d: 70;      // density
$w: 600;     // grid size
$s: 3s;       // speed

// Generate the snow image using radial gradients
$grad: ();
@for $i from 0 to $d {
  $v: random(4) + 2;
  $a: random(5) * .1 + .5;
  $grad: $grad, radial-gradient(
      $v+px $v+px at
      (random($w - $v * 2) + $v)+px
      (random($w - $v * 2) + $v)+px, 
      rgba(255,255,255,$a) 50%,
      rgba(0,0,0,0)
  ) !global;
}

.snow, .snow:before, .snow:after {
  position: absolute;
  top: -$w + px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: $grad;
  background-size: $w + px $w + px;
  animation: snow $s linear infinite;
  content: "";
}
.snow:after {
  margin-left: -$w/3 + px;
  opacity: .4;
  animation-duration: $s*2;
  animation-direction: reverse;
  filter: blur(3px);
}
.snow:before {
  animation-duration: $s*3;
  animation-direction: reverse;
  margin-left: -$w/2 + px;
  opacity: .65;
  filter: blur(1.5px);
}
@keyframes snow {
  to {
    transform: translateY($w + px);
  }
}
